.libItemForm label
{
/*color: #781351;*/
width: 16em;
float: left;
text-align: right;
vertical-align: bottom;
margin-right: 0.5em;
display: block
}

.libItemForm p {
  line-height: 1px;
  margin-top:0px;
}

.libItemForm form div {
  clear: left;
  display: block;
/*  width: 354px; */
  height: expression('1%');
  margin: 5px 0 0 0;
  padding: 1px 3px;
}

.libListItem {
    padding: 5px;
    clear:both;
    text-align:left;
}
.libListItemImage {
    float: left;
    width: 15%;
    text-align: left;
    margin-right: 10px;
    margin-bottom:5px;
}
.libListItemImage a {
    text-decoration: none;
}

a.lib_itemlist {
    color:black;
    text-decoration:none;
    font-size:1.2em;
    font-weight:bold;
}

div.libAvailBlk {
    float:right;
    position:relative;
    background-color:#EEE;
}

.lib_itemlist div {
    position:relative;
    float:left;
    margin:2px;
}

.libNewAdminItem {
    font-style: italic;
    font-weight: bold;
    color: red;
}
.lib-icon-ok {
    color: #82bb42;
}
.lib-icon-danger {
    color: #d32c46;
}
.lib-icon-warning {
    color: #FFD300;
}
.lib-icon-info {
    color: #0077dd;
}
.lib-icon-unknown {
    color: #aaaaaa;
}
