<plugin>
    <id>library</id>
    <name>Library</name>
    <description>Provides a library system for tracking books and equipment.  Site members may check items out for periods of time. Delivery of items is carried out offline.</description>
    <version>0.0.1</version>
    <glfusionversion>1.7.0</glfusionversion>
    <phpversion>5.3.0</phpversion>
    <url>http://www.glfusion.org</url>
    <maintainer>Lee Garner</maintainer>
    <requires>lglib</requires>
</plugin>
